<%= bootstrap_form_for(rabbit) do |f| %>

  <%= f.hidden_field :container_type, value: "Cage" %>
  <%= f.hidden_field :container_id %>
  <%= f.hidden_field :type %>
  <%= f.text_field :name %>
  <%= f.date_field :birth_date %>

  <%= render "#{rabbit.model_name.route_key}/fields", rabbit: rabbit, f: f %>


  <div class="actions">
    <%= link_to "Indietro", cage_path(rabbit.cage), class: "btn" %>
    <%= f.submit nil, class: "btn btn-primary btn-raised" %>
  </div>
<% end %>
