<% content_for :nav_left do  %>
  <li><%= icon_link_to "arrow_back", cage_path(@cage) %></li>
<% end %>

<h1>Scegli la Gabbia</h1>

<%= render "cages/move_list", cages: @fattening_cages,  rabbits: @rabbits %>
<%= render "cages/move_list", cages: @motherhood_cages, rabbits: @rabbits %>
<%= render "cages/move_list", cages: @weaning_cages,    rabbits: @rabbits %>
<%= render "cages/move_list", cages: @race_cages,       rabbits: @rabbits %>
