<%= render "rabbits/nav", rabbit: @rabbit %>

<h1><%= @rabbit.name_or_position %></h1>


<div class="list-group rabbit-details">
  <a href="<%= edit_rabbit_path(@rabbit, fields: [:birth_date]) %>" class="list-group-item">
    <div class="row-content">
      <h4 class="list-group-item-heading">Età</h4>
      <div class="least-content"><%= @rabbit.age %> giorni</div>
      <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
    </div>
  </a>
  <div class="list-group-separator"></div>
  <a href="<%= edit_rabbit_path(@rabbit, fields: [:gender]) %>" class="list-group-item">
    <div class="row-content">
      <h4 class="list-group-item-heading">Sesso</h4>
      <div class="least-content"><%= t("gender.#{@rabbit.gender || "unknown"}") %></div>
      <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
    </div>
  </a>
  <div class="list-group-separator"></div>
  <a href="<%= rabbit_weights_path(@rabbit) %>" class="list-group-item">
    <div class="row-content">
      <h4 class="list-group-item-heading">Peso</h4>
      <div class="least-content"><%= @rabbit.last_weight ? "#{@rabbit.last_weight} kg" : "Nessuno" %></div>
      <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
    </div>
  </a>
  <div class="list-group-separator"></div>
  <% if @rabbit.mother? %>
    <% if @rabbit.pregnant? %>
      <a href="<%= edit_pregnancy_path(@rabbit.in_progress_pregnancy) %>" class="list-group-item">
        <div class="row-content">
          <h4 class="list-group-item-heading">Incinta da</h4>
          <div class="least-content"><%= @rabbit.in_progress_pregnancy.days_from_start %> giorni</div>
          <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
        </div>
      </a>
      <div class="list-group-separator"></div>
    <% end %>
    <a href="<%= rabbit_pregnancies_path(@rabbit) %>" class="list-group-item">
      <div class="row-content">
        <h4 class="list-group-item-heading">Gravidanze concluse</h4>
        <div class="least-content"><%= @rabbit.pregnancies.completed.size %></div>
        <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
      </div>
    </a>
    <div class="list-group-separator"></div>
  <% end %>
  <a href="<%= edit_rabbit_path(@rabbit, fields: [:notes]) %>" class="list-group-item">
    <div class="row-content">
      <h4 class="list-group-item-heading">Note</h4>
      <p class="list-group-item-text notes"><%= @rabbit.notes.to_s %></p>
      <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
    </div>
  </a>
  <div class="list-group-separator"></div>
</div>

<%= link_to "Pesa", new_rabbit_weight_path(@rabbit), class: "btn btn-primary btn-block btn-lg" %>
<%= link_to "Sposta", available_cages_rabbit_path(@rabbit), class: "btn btn-primary btn-block btn-lg" %>
<%= link_to "Uccidi", kill_rabbit_path(@rabbit), method: :put, class: "btn btn-primary btn-block btn-lg", data: { confirm: "I conigli non ritornano più in vita"} %>
<% if @rabbit.mother? %>
  <% if !@rabbit.pregnant? %>
    <%= link_to "Ingravida", new_rabbit_pregnancy_path(@rabbit), class: "btn btn-primary btn-block btn-lg" %>
  <% end %>
<% end %>
