<% content_for :nav_left do  %>
  <li><%= icon_link_to "arrow_back", rabbit_path(@rabbit) %></li>
<% end %>

<h1>Gravidanze per <%= @rabbit.name_or_position %></h1>

<% if !@rabbit.in_progress_pregnancy %>
  <%= icon_link_to "add", new_rabbit_pregnancy_path(@rabbit), class: "btn btn-primary btn-fab btn-raised btn-block add-weight" %>
<% end %>


<table class="table table-hover table-clickable-row">
  <thead>
    <tr>
      <th>Fine Gravidanza</th>
      <th>Cuccioli</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @pregnancies.empty? %>
      <tr>
        <td colspan="3">Nessuna gravidanza registrata</td>
      </tr>
    <% else %>
      <% @pregnancies.each do |pregnancy| %>
        <tr>
          <% if pregnancy.in_progress? %>
            <td>In corso, iniziata <%= pregnancy.days_from_start %> giorni fa</td>
            <td></td>
          <% else %>
            <td><%= pregnancy.ending_at.strftime("%d/%m") %></td>
            <td><%= pregnancy.rabbits.size %></td>
          <% end %>
          <td><%= icon_link_to "chevron_right", edit_pregnancy_path(pregnancy) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

