<% if cages && cages.any? %>
  <h2><%= cages.model_name.human %> <small><%= pluralize(cages.size, 'gabbia', 'gabbie') %></small></h2>

  <div class="list-group">
    <% cages.each do |cage| %>
      <%= link_to move_rabbit_path(@rabbit, new_cage_id: cage.id), class: "list-group-item", method: "PUT" do %>
        <div class="row-action-primary row-action-<%= cage.model_name.element %>">
          <i class="cage"><%= cage.code %></i>
        </div>
        <div class="row-content">
          <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
          <!-- <div class="least-content">15m</div> -->
          <h4 class="list-group-item-heading"><%= cage.list_item_heading %></h4>

          <p class="list-group-item-text"><%= cage.list_item_text %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
