<% content_for :nav_left do  %>
  <li><%= icon_link_to "arrow_back", rabbit_path(@rabbit) %></li>
<% end %>

<h1>Scegli la Gabbia</h1>

<%= render "fattening_cages/move_list", cages: @fattening_cages,  rabbit: @rabbit %>
<%= render "move_list", cages: @motherhood_cages, rabbit: @rabbit %>
<%= render "move_list", cages: @weaning_cages,    rabbit: @rabbit %>
<%= render "move_list", cages: @race_cages,       rabbit: @rabbit %>
