<% content_for :nav_left do  %>
  <li><%= icon_link_to "arrow_back", rabbit_path(@rabbit) %></li>
<% end %>

<h1>Pesi per <%= @rabbit.name_or_position %></h1>

<%= icon_link_to "add", new_rabbit_weight_path(@rabbit), class: "btn btn-primary btn-fab btn-raised btn-block add-weight" %>


<table class="table table-hover table-clickable-row">
  <thead>
    <tr>
      <th>Data</th>
      <th>Peso (Kg)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @weights.empty? %>
      <tr>
        <td colspan="3">Nessun peso registrato</td>
      </tr>
    <% else %>
      <% @weights.each do |weight| %>
        <tr>
          <td><%= weight.registered_on.strftime("%d/%m") %> <small class="age">(<%= (weight.registered_on - @rabbit.birth_date).to_i %> giorni)</small></td>
          <td><%= weight.value %></td>
          <td><%= icon_link_to "edit", edit_weight_path(weight) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

