<% content_for :nav_left do  %>
  <li><%= icon_link_to "arrow_back", rabbit_path(@rabbit) %></li>
<% end %>

<h1>Pesi per <%= @rabbit.position %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center">Età (giorni)</th>
      <th class="text-center">Peso (Kg)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @weights.each do |weight| %>
      <tr class="text-center">
        <td><%= (weight.registered_on - @rabbit.birth_date).to_i %></td>
        <td><%= weight.value %></td>
        <td><%= icon_link_to "edit", edit_weight_path(weight) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
