<% content_for :nav_left do  %>
  <li><%= icon_link_to "arrow_back", cages_path %></li>
<% end %>

<h1>Celle per Gabbia <%= @cage.code %></h1>


<div class="list-group">
  <% @compartments.each do |compartment| %>
    <% if compartment.rabbit %>
      <%= link_to rabbit_path(compartment.rabbit), class: "list-group-item" do %>
        <div class="row-action-primary row-action-fattening">
          <i class="code"><%= compartment.code %></i>
        </div>
        <div class="row-content">
          <div class="action-secondary"><i class="material-icons">chevron_right</i></div>
          <!-- <div class="least-content">15m</div> -->
          <h4 class="list-group-item-heading"><%= cage.compartments_size %></h4>

          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
        </div>
      <% end %>
    <% else %>
      no rabbit
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'New Compartment', new_compartment_path %>
