<!DOCTYPE html>
<html>
<head>
  <title>RabbitManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- ****** faviconit.com favicons ****** -->
  <%= favicon_link_tag "/assets/favicons/favicon.ico", rel: "shortcut icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon.ico", rel: "icon", sizes: "16x16 32x32 64x64" %>
  <%= favicon_link_tag "/assets/favicons/favicon-192.png", type: "image/png", sizes: "196x196", rel: "icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-160.png", type: "image/png", sizes: "160x160", rel: "icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-96.png", type: "image/png", sizes: "96x96", rel: "icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-64.png", type: "image/png", sizes: "64x64", rel: "icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-32.png", type: "image/png", sizes: "32x32", rel: "icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-16.png", type: "image/png", sizes: "16x16", rel: "icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-57.png", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-114.png", sizes: "114x114", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-72.png", sizes: "72x72", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-144.png", sizes: "144x144", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-60.png", sizes: "60x60", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-120.png", sizes: "120x120", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-76.png", sizes: "76x76", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-152.png", sizes: "152x152", rel: "apple-touch-icon" %>
  <%= favicon_link_tag "/assets/favicons/favicon-180.png", sizes: "180x180", rel: "apple-touch-icon" %>
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="<%= asset_path "/assets/favicons/favicon-144.png" %>">
  <meta name="msapplication-config" content="<%= asset_path "/assets/favicons/browserconfig.xml" %>">
  <!-- ****** faviconit.com favicons ****** -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>

<div class="container">
  <%= flash_messages %>
  <%= yield %>
  
</div>

</body>
</html>
